<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/layoutFoot.css"/>
		<link rel="stylesheet" type="text/css" href="../css/layoutHeader.css"/>
		<link rel="stylesheet" type="text/css" href="../css/indexStyle.css"/>
		<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">		
	</head>

	<body>
		<!--导航开始-->
		<div class="container-fluid header">
			<div class="row">
				<nav class="navbar navbar-default navBg" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
						            <span class="sr-only">切换导航</span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
       						</button>			
							<a href="#" class="logoSet"><img style="margin-top: 10px;" src="../img/logo.png" /></a>
						</div>
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
							<ul class="nav navbar-nav  navSet" style="margin-left: 100px;">
								<li>
									<a href="index.html" style="color: #ffaa2c!important;">主页</a>
								</li>
								<li>
									<a href="release.html">发布</a>
								</li>
								<li>
									<a href="find.html">悬赏</a>
								</li>
								<li id="personalCenter_li">
									<a href="#" id="personalCenter_a">个人中心 <b class="caret"></b></a>
									<ul class="personalCenter t" id="personalCenter_ul">
					                    <li><a href="personalInformation.html" id="person01">个人资料</a></li>
					                    <li><a href="PersonalSkills.html">个人技能</a></li>
					                    <li><a href="message.html">消息通知</a></li>
					                    <li><a href="orderInformation.html">我的订单</a></li>
					                </ul>
								</li>
							</ul>
							<ul class="nav navbar-nav navbar-right navRset" style="margin-left: 100px;">
								<li>
									<a href="register.html"><span class="glyphicon glyphicon-user"></span> 注册</a>
								</li>
								<li>
									<a href="login.html"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!--导航结束-->
		
		<!--轮播开始-->
		<div class="container" style="margin-top: 10px;">
			<div id="myCarousel" class="carousel slide">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
						<li data-target="#myCarousel" data-slide-to="4"></li>
						<li data-target="#myCarousel" data-slide-to="5"></li>
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="../img/llbb01_r2_c2.jpg" alt="First slide" width="100%">
						</div>
						<div class="item">
							<img src="../img/lblb02_r2_c2.jpg" alt="Second slide" width="100%">
						</div>
						<div class="item">
							<img src="../img/lblb03_r2_c2.jpg" alt="Third slide" width="100%">
						</div>
						<div class="item">
							<img src="../img/lblb04_r2_c1.jpg" alt="Third slide" width="100%">
						</div>
						<div class="item">
							<img src="../img/lblb05_r2_c1.jpg" alt="Third slide" width="100%">
						</div>
						<div class="item">
							<img src="../img/lblb06_r2_c1.jpg" alt="Third slide" width="100%">
						</div>
					</div>

				</div>
		</div>
		<!--轮播结束-->
		
		<!--职位介绍开始-->
		<div class="container introduceWork" style="background:url(../img/bg001.jpg) top center no-repeat;background-size:cover;margin-top: 10px;margin-bottom: 10px;">
				<div class="col-md-12 col-sm-12 introduce">
					<h2 class="works">海量轻松赚钱岗位</h2>
				</div>
				<div class="col-md-12 col-sm-12 introducel">
					<p class="workP">各类工作，自由选择，放心上岗</p>
				</div>
				<div class="col-md-12 introduce">
					<a href="#">家教助教</a>
				</div>
				<!--菱形第二行开始-->
				<div class="col-md-2 col-sm-1">
					
				</div>
				<div class="col-md-4 col-sm-6 introduce">
					<a href="#">话务客服</a>
				</div>
				<div class="col-md-4 col-sm-6 introduce">
					<a href="#">传单派发</a>
				</div>
				<div class="col-md-2 col-sm-1">
					
				</div>
				<!--菱形第二行结束-->
				<div class="col-md-4 col-sm-6 introduce">
					<a href="#">礼仪模特</a>
				</div>
				<div class="col-md-4 col-sm-4">
					
				</div>
				<div class="col-md-4 col-sm-6 introduce">
					<a href="#">促销导购</a>
				</div>
				<!--菱形第二行开始-->
				<div class="col-md-2 col-sm-1">
					
				</div>
				<div class="col-md-4 col-sm-6 introduce">
					<a href="#">软件开发</a>
				</div>
				<div class="col-md-4 col-sm-6 introduce">
					<a href="#">社会义工</a>
				</div>
				<div class="col-md-2 col-sm-1">
					
				</div>
				<!--菱形第二行结束-->
				<div class="col-md-12 introduce introduceSet" style="margin-bottom: 40px;">
					<a href="#">查看全部职位</a>
				</div>
		</div>
		<!--职位介绍结束-->
		
		<!--公司的介绍开始-->
		<div class="container-fluid introduceCompany">
			<div class="row">
				<div class="col-md-12 cd-sm-12 introduceCompany-title">
					<h2>专业靠谱的高校兼职平台</h2>
					<p>专业审核团队，靠谱职位担保</p>
				</div>
				<div class="col-md-4 introduceCompany-titleIcon01">
					<span class="icon01"></span>
					<p>全部职位专业团队审核认证<br />资质认证，安全放心</p>
				</div>
				<div class="col-md-4 introduceCompany-titleIcon02">
					<span class="icon02"></span>
					<p>直招职位全程介入监控督导<br />杜绝骗子，保证权益</p>
				</div>
				<div class="col-md-4 introduceCompany-titleIcon03">
					<span class="icon03"></span>
					<p>工资保障职位承诺工资先行赔付<br />规避纠纷，完美体验</p>
				</div>
			</div>
		</div>
		<!--公司的介绍结束-->
		
			<!--foot-->
		<div class="container-fluid footer">
			<div class="row row01">
				<div class="col-md-offset-1 col-md-1 hidden-xs">
					<img src="../img/logo.png" />
				</div>
				<div class="col-md-7 jianju25">
					<ul class="nav-b">
						<li class="liLeft">
							关于我们
							<ul class="sub-nav">
								<li>
									<a href="/aboutus/" rel="nofollow">公司简介</a>
								</li>
								<li>
									<a href="/progress/" rel="nofollow">悬赏历程</a>
								</li>
								<li>
									<a href="/joinus/" rel="nofollow">加入悬赏</a>
								</li>
								<li>
									<a href="/contactus/" rel="nofollow">联系悬赏</a>
								</li>
								<li>
									<a href="/jiameng/" rel="nofollow">渠道招商</a>
								</li>
							</ul>
						</li>
						<li class="liLeft">
							<a href="/chuangpeisheng/" rel="nofollow">悬赏创培生</a>
						</li>
						<li class="liLeft">悬赏资讯
							<ul class="sub-nav">
								<li>
									<a target="_blank" href="http://news.doumi.com/">悬赏新闻</a>
								</li>
								<li>
									<a target="_blank" href="http://news.doumi.com/jq/">工作技巧</a>
								</li>
							</ul>
						</li>
						<li class="liLeft">帮助中心
							<ul class="sub-nav">
								<li>
									<a href="/payservice/" rel="nofollow">有偿服务</a>
								</li>
							</ul>
						</li>
						<li class="liLeft">
							<a href="/sitemap.html">网站地图</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 jianju25 hidden-xs">
					<div class="hotline">
						<span class="title">客服热线</span>
						<span class="phone">010-57977077</span>
						<span class="title">合作邮箱</span>
						<span class="email">ecom#doumi.com</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="copyright">

					<p style="margin-bottom: -10px!important;">&copy;2015-2018 悬赏&trade; 北京世诚优聘科技发展有限公司
						<a target="_blank" href="#" rel="nofollow">京公网安备11010802022669号</a> 联系电话：010-57317000</p>
				</div>
			</div>
		</div>
<!--foot-->
		<script src="../plugins/jquery/jquery.min.js"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
		
		<script type="text/javascript">
			$(function() {
				$('#myCarousel').carousel({
					interval: 2000
				});
				$("#personalCenter_li").click(function(){
					if($("#personalCenter_ul").css("display")=="none"){
						$("#personalCenter_ul").css('display','block');
					}else if($("#personalCenter_ul").css("display")=="block"){
						$("#personalCenter_ul").css('display','none');
					}
				});
			});
		</script>
	</body>

</html>