<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>用户注册</title>
		<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/layoutFoot.css" />
		<link rel="stylesheet" type="text/css" href="../css/layoutHeader.css" />
		<style type="text/css">
			.myLogin {
				border: 1px solid #ccc;
				border-radius: 20px;
				padding: 30px;
			}
			
			body {
				background-color: #F5F5F5;
			}
			
			@media all and (max-width: 768px) {
				.tl01 {
					width: 90%!important;
				}
			}
		</style>
	</head>

	<body>
		<!--导航开始-->
		<div class="container-fluid header">
			<div class="row">
				<nav class="navbar navbar-default navBg" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
						            <span class="sr-only">切换导航</span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
       						</button>
							<a href="#" class="logoSet"><img style="margin-top: 10px;" src="../img/logo.png" /></a>
						</div>
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
							<ul class="nav navbar-nav  navSet" style="margin-left: 100px;">
								<li>
									<a href="index.html">主页</a>
								</li>
								<li>
									<a href="release.html">发布</a>
								</li>
								<li>
									<a href="find.html">悬赏</a>
								</li>
								<li id="personalCenter_li">
									<a href="#" id="personalCenter_a">个人中心 <b class="caret"></b></a>
									<ul class="personalCenter t" id="personalCenter_ul">
										<li>
											<a href="personalInformation.html" id="person01">个人资料</a>
										</li>
										<li>
											<a href="PersonalSkills.html">个人技能</a>
										</li>
										<li>
											<a href="message.html">消息通知</a>
										</li>
										<li>
											<a href="orderInformation.html">我的订单</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!--导航结束-->

		<div class="container-fluid">
			<div class="container myLogin tl01" style="background-color: #fff;width: 65%;margin-top: 50px;margin-bottom: 80px;">
				<form class="form-horizontal" role="form">
					<fieldset>
						<legend>
							<h3>用户注册入口</h3></legend>
						<div class="form-group has-feedback">
							<label for="firstname" class="col-sm-2 control-label">账号</label>
							<div class="col-md-5">
								<input type="text" class="form-control" id="firstname" placeholder="请输入账号">
								<!--<span class="glyphicon glyphicon-user form-control-feedback"></span>-->
								<span id="firstname_span_2" class="error_span hidden">请输入账号(只能输入中文和英文)</span>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label for="lastname" class="col-sm-2 control-label">密码</label>
							<div class="col-md-5">
								<input type="password" class="form-control" id="password" placeholder="请输入密码">
								<!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
							</div>
						</div>

						<div class="form-group has-feedback">
							<label for="lastname" class="col-sm-2 control-label">请再次输入密码</label>
							<div class="col-md-5">
								<input type="password" class="form-control" id="againpassword" required="" placeholder="请再次输入密码">
								<!--				      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
-->
							</div>
						</div>

						<div class="form-group has-feedback">
							<label for="lastname" class="col-sm-2 control-label">手机号码</label>
							<div class="col-md-5">
								<input type="tel" class="form-control" id="tel" placeholder="请输入手机号码">
								<!--				      <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
--></div>
						</div>

						<div class="form-group has-feedback">
							<label for="lastname" class="col-sm-2 control-label">地址</label>
							<div class="col-md-5">
								<input type="text" class="form-control" id="address" required="" placeholder="请输入详细地址">
								<!--				  <span class="glyphicon glyphicon-comment form-control-feedback"></span>
--></div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label>
				          <input type="checkbox">同意<a>校园悬赏网络协议</a>
				        </label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default" style="align-content: center;width: 80px;">注册</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

		<!--foot-->
		<div class="container-fluid footer">
			<div class="row row01">
				<div class="col-md-offset-1 col-md-1 hidden-xs">
					<img src="../img/logo.png" />
				</div>
				<div class="col-md-7 jianju25">
					<ul class="nav-b">
						<li class="liLeft">
							关于我们
							<ul class="sub-nav">
								<li>
									<a href="/aboutus/" rel="nofollow">公司简介</a>
								</li>
								<li>
									<a href="/progress/" rel="nofollow">悬赏历程</a>
								</li>
								<li>
									<a href="/joinus/" rel="nofollow">加入悬赏</a>
								</li>
								<li>
									<a href="/contactus/" rel="nofollow">联系悬赏</a>
								</li>
								<li>
									<a href="/jiameng/" rel="nofollow">渠道招商</a>
								</li>
							</ul>
						</li>
						<li class="liLeft">
							<a href="/chuangpeisheng/" rel="nofollow">悬赏创培生</a>
						</li>
						<li class="liLeft">悬赏资讯
							<ul class="sub-nav">
								<li>
									<a target="_blank" href="http://news.doumi.com/">悬赏新闻</a>
								</li>
								<li>
									<a target="_blank" href="http://news.doumi.com/jq/">工作技巧</a>
								</li>
							</ul>
						</li>
						<li class="liLeft">帮助中心
							<ul class="sub-nav">
								<li>
									<a href="/payservice/" rel="nofollow">有偿服务</a>
								</li>
							</ul>
						</li>
						<li class="liLeft">
							<a href="/sitemap.htm">网站地图</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 jianju25 hidden-xs">
					<div class="hotline">
						<span class="title">客服热线</span>
						<span class="phone">010-57977077</span>
						<span class="title">合作邮箱</span>
						<span class="email">ecom#doumi.com</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="copyright">

					<p style="margin-bottom: -10px!important;">&copy;2015-2018 悬赏&trade; 北京世诚优聘科技发展有限公司
						<a target="_blank" href="#" rel="nofollow">京公网安备11010802022669号</a> 联系电话：010-57317000</p>
				</div>
			</div>
		</div>
		<!--foot-->
		<script src="../plugins/jquery/jquery.min.js"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$("#personalCenter_li").click(function() {
					if($("#personalCenter_ul").css("display") == "none") {
						$("#personalCenter_ul").css('display', 'block');
					} else if($("#personalCenter_ul").css("display") == "block") {
						$("#personalCenter_ul").css('display', 'none');
					}
				});
			});
		</script>
	</body>

</html>