@charset "utf-8";

/*foot开始*/

.footer {
	background-color: #535353;
	padding-top: 10px;
}

.nav-b {
	float: left;
	margin-left: 38px;
}

.liLeft {
	float: left;
	padding: 0 21px 0 20px;
	position: relative;
	color: #a3a3a3;
	list-style: none;
}

.liLeft a {
	color: #a3a3a3;
}

.liLeft ul li {
	margin-left: -40px;
}

.sub-nav {
	margin-top: 20px;
}

.footer .sub-nav li {
	/*margin-top: 16px;*/
	list-style: none;
}

.sub-nav a {
	color: #ccc;
}

.footer .hotline {
	padding: 0 50px;
	margin-left: 40px;
}

.footer .title {
	display: block;
	color: #a3a3a3;
	margin-bottom: 10px;
}

.footer .hotline .phone {
	display: inline-block;
	font: 24px Arial;
	color: #a3a3a3;
	font-weight: 700;
	margin-bottom: 14px;
}

.footer .hotline .email {
	font: 16px Arial;
	color: #a3a3a3;
	font-weight: bold;
}
.copyright {
	height: 52px;
	line-height: 52px;
	background: #4e4e4e;
	text-align: center;
	color: #7d7d7d;
}

.copyright a {
	color: #7d7d7d;
}


/*foot结束*/